html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0 !important;
}

.resultTable::-webkit-scrollbar {
  display: none;
}

.hide-mobile {
  display: none;
}

@media (min-width: 900px) {
  .hide-mobile {
    display: block;
  }
}
