name: deploy

on:
    push:
        branches:
          - master

jobs:
    Deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Node
              uses: actions/setup-node@v3
              with:
                node-version: 24

            - name: Install backend dependencies
              run: npm ci

            - name: Install serverless
              run: npm i -g serverless@4

            - name: Write environment file
              run: |
                rm example.env.yml &&
                    echo "${{ secrets.ENV_PROD }}" > .env.yml

            - name: Setup AWS credentials
              run: |
                mkdir -p ~/.aws
                echo "[default]" > ~/.aws/credentials
                echo "aws_access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }}" >> ~/.aws/credentials
                echo "aws_secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> ~/.aws/credentials
                echo "region=eu-west-1" >> ~/.aws/credentials

            - name: Serverless deploy
              env:
                SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
              run: sls deploy -s prod

            - name: Migrate Sqlite
              run: npm run migrate-prod

            - name: Install frontend dependencies
              working-directory: frontend
              run: npm ci

            - name: Build frontend
              working-directory: frontend
              run: npm run build

            - name: Deploy frontend
              working-directory: frontend
              run: |
                aws s3 sync dist s3://lolesportle-frontend \
                  --delete
                  --exclude "index.html" \
                  --cache-control "public, max-age=31536000"

                aws s3 cp dist/index.html s3://lolesportle-frontend/index.html \
                  --cache-control "no-cache, no-store, must-revalidate"
